name: Docker (Public MCP)

on:
  push:
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  docker:
    uses: finki-hub/.github/.github/workflows/docker.yaml@main
    with:
      dockerfile: ./public-mcp/Dockerfile
      context: ./public-mcp
      package-name: finki-mcp-public
      submodules: true
    secrets: inherit
